<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>고객 추가</title>
</head>
<body>
	<h1>고객 추가</h1>
	<form method="post" action="">
		<label for="name">고객명:</label>
		<input type="text" name="customerName" id="customerName" /> <br/>
		<label for="name">비밀번호:</label>
		<input type="text" name="customerPass" id="customerPass" /> <br/>
		<label for="name">생일:</label>
		<input type="text" name="customerBirth" id="customerBirth" /> <br/>
		<label for="name">직업:</label>
		<input type="text" name="customerJob" id="customerJob" /> <br/>
		<label for="name">메일:</label>
		<input type="text" name="customerMail" id="customerMail" /> <br/>
		<label for="name">전화번호:</label>
		<input type="text" name="customerTel" id="customerTel" /> <br/>
		<label for="name">우편번호:</label>
		<input type="text" name="customerPost" id="customerPost" /> <br/>
		<label for="name">주소:</label>
		<input type="text" name="customerAdd" id="customerAdd" /> <br/>
		<input type="submit" value="등록" />
	</form>
</body>
</html>